
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: black;
}

#scroll-container {
  overflow: hidden;
}

section {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.section-1 {
  height: 100vh;
  margin: 10px;
  background-image: url(../assets/images/img1back.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.section-2 {
  background: linear-gradient(135deg, #7bc6cc, #be93c5);
}

.section-3 {
  height: 500px;
  background: linear-gradient(135deg, #92d1c3, #ffdf64);
}

.section-4 {
  background: linear-gradient(135deg, #ffab73, #d76d77);
}

.section-5 {
  background: linear-gradient(135deg, #516395, #614385);
}

[data-scroll-speed] {
  font-size: 4rem;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.is-inview {
  opacity: 1;
  transform: translateY(0);
}